<mat-progress-bar mode="indeterminate" [hidden]="!Cargando" color="warn"></mat-progress-bar>
<app-navbar></app-navbar>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let Usuario of Usuarios">
            <mat-card class="MouseHover" (click)="SeleccionarUsuario(Usuario);">
                <div class="row">
                    <div class="col-12" align="center">
                        <img class="Redonda" src="{{Usuario.avatar}}">

                    </div>
                </div>
                <mat-card-header>                  
                  <mat-card-title>{{Usuario.first_name + " " +Usuario.last_name}}</mat-card-title>
                  <mat-card-subtitle>{{Usuario.email}}</mat-card-subtitle>
                </mat-card-header>                        
              </mat-card>
              <br>
        </div>
    </div>
</div>
