.MouseHover:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

  .FondoBlanco{
    background-color: white;
    margin-bottom: 0px !important;
    height: 100%;
    // padding-bottom: 10vh;
  }
  .sidenav {
    padding: 20px;
    max-width: 500px;
  }
  .Redonda{
    border-radius: 50%;
    height: 200px;
  }
  .SuperiorDerecha{
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .TodaPantalla{
    height: 100% !important; position: absolute; width: 100%;
  }