.MouseHover:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

  .FondoBlanco{
    background-color: white;
  }
  .sidenav {
    padding: 20px;
    width: 50%;
  }